<form (ngSubmit)="f.form.valid && agregarDatos()" #f="ngForm">
    <div class="agregar">
        <div class="agregar_contenedor">
            <select [ngClass]="{redfocus:tipo==='operacionEgreso'}" (change)="tipoOperacion($event)"
                class="agregar_tipo">
                <option value="operacionIngreso" selected>+</option>
                <option value="operacionEgreso">-</option>
            </select>
            <input [ngClass]="{redfocus:tipo==='operacionEgreso'}" type="text" class="agregar_descripcion"
                placeholder="Agregar Descripción" name="descripcionInput" [(ngModel)]="descripcionInput" required>
            <input [ngClass]="{redfocus:tipo==='operacionEgreso'}" type="number" class="agregar_valor"
                placeholder="Valor" name="valorInput" [(ngModel)]="valorInput" required>
            <button type="submit" class="agregar_btn">
                <i [ngClass]="{red:tipo==='operacionEgreso'}" class="ion-ios-checkmark-outline"></i>
            </button>
        </div>
    </div>
</form>